<center>
<table class="table table-bordered" id="vista">

<tr>
  <th>Rut:
  <%= @cliente.rut %></th>
</tr>

<tr>
  <th>Nombre:
  <%= @cliente.nombre %></th>
</tr>

<tr>
  <th>Apellido:
  <%= @cliente.apellido %></th>
</tr>

<tr>
  <th>Direccion:
  <%= @cliente.direccion %></th>
</tr>

<tr>
  <th>Correo:
  <%= @cliente.correo %></th>
</tr>

<tr>
  <th>Fono:
  <%= @cliente.fono %></th>
</tr>

</table>
<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-pencil" ></span>
<%= link_to 'Editar', edit_cliente_path(@cliente) %> 
</button>

<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', clientes_path %>
</button>
