<p id="notice"><%= notice %></p>

<center> <h1> Repuestos</h1>

<table class="table table-condensed" id="contenedor">
  <thead>
    <tr>
      <th>Cod. Repuesto</th>
      <th>Nombre Repuesto</th>
      <th>Valor Repuesto</th>
      <th>Cod. Equipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repuestos.each do |repuesto| %>
      <tr>
        <td><%= repuesto.codrepuesto %></td>
        <td><%= repuesto.nombrerepuesto %></td>
        <td><%= repuesto.valorrepuesto %></td>
        <td><%= repuesto.equipo.codequipo %></td>
        <td>
          <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-eye-open"  ></span>
          <%= link_to 'Mostrar', repuesto %>
        </button></td>
        <% if current_usuario.email == "miguel@gmail.com" %>
        <td>
          <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-pencil" ></span>
          <%= link_to 'Editar', edit_repuesto_path(repuesto) %>
        </button></td>
        <td>
          <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-trash" ></span>
          <%= link_to 'Eliminar', repuesto, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-plus" ></span>
<%= link_to 'Nuevo Repuesto', new_repuesto_path %>
    </button>
