<center>
<table class="table table-bordered" id="vista">


<tr>
  <th>Cod.Repuesto:
  <%= @repuesto.codrepuesto %></th>
</tr>

<tr>
  <th>Nombre Repuesto:
  <%= @repuesto.nombrerepuesto %></th>
</tr>

<tr>
  <th>Valor Repuesto:
  <%= @repuesto.valorrepuesto %></th>
</tr>

<tr>
  <th>Cod. Equipo:
  <%= @repuesto.equipo.codequipo %></th>
</tr>



</table>
<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-pencil" ></span>
<%= link_to 'Editar', edit_repuesto_path(@repuesto) %>
</button>

<button type="button" class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-arrow-left" ></span>
<%= link_to 'Atras', repuestos_path %>
</button>
