
<h4>  <strong>Numboleta:</strong>
  <%= @bolet.numboleta %>
</p>

<p>
<h4>  <strong>Fecha:</strong>
  <%= @bolet.fecha %>
</p>

<p>
  <h4><strong>Cliente:</strong>
  <%= @bolet.cliente.nombre %>
</p></h4>
<center>
 <h3>Lista Repuestos</h3>
 <table class="table table-condensed" id="contenedor">
   <thead>
     <tr>
         <th>Codrepuesto:</th>
         <th>Nombrerepuesto:</th>
         <th>Valorrepuesto:</th>
         <th>Equipo:</th>
      </tr>
    </thead>

  <tbody>
  <% @repuestos.each do |repuesto| %>
    <tr>
      <td><%= repuesto.codrepuesto %></td>
      <td><%= repuesto.nombrerepuesto %></td>
      <td><%= repuesto.valorrepuesto %></td>
      <td><%= repuesto.equipo.codequipo %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Edit', edit_bolet_path(@bolet) %> |
<%= link_to 'Back', bolets_path %>
